<ion-content padding>
    <ion-grid [ngClass]="getPlayerTurnClass()">
        <ion-row *ngFor="let tetrisIndex of index; let r = index; trackBy: trackByFn">
            <ion-col *ngFor="let x of tetrisIndex; let x = index; trackBy: trackByFn" [ngClass]="getClassValue(x)">
                <div [ngClass]="{'player1_won':gameStatus.won_fields[x]==1,'player2_won':gameStatus.won_fields[x]==2,'bordern':x%2==0,'bordernplus1':x%2!=0}">
                    <ion-row class="ctr fc tile" *ngFor="let y of index2; let y = index; trackBy: trackByFn">
                        <ion-col *ngFor="let z of index2; let z = index; trackBy: trackByFn" (click)="playerClick(x,y,z)">
                            <div class="tile fc">
                                <span class="ctr tile-text" [ngClass]="{'player1':gameStatus.fields[x][y][z]==1,'player2': gameStatus.fields[x][y][z]==2}">{{(gameStatus.fields[x][y][z]==0)? ' ': ((gameStatus.fields[x][y][z]==1)? 'x' : 'o')}}</span>
                            </div>
                        </ion-col>
                    </ion-row>        
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

     <div *ngIf="gameService.isGameOver()">
        <br>
        <button ion-button (click)="btnRestartGame()" full block>Restart Game</button>
        <button ion-button (click)="btnReturn()" full block>Return</button>
    </div>

    <div *ngIf="!gameService.isGameOver()&&gameStatus.gameType&&gameStatus.symbol==gameStatus.turn" class="ctr tile-text"><br><strong>Your turn!</strong><br></div>
    <div *ngIf="!gameService.isGameOver()&&gameStatus.gameType!=2" class="ctr tile-text" [ngClass]="{'player1': gameStatus.turn,'player2': !gameStatus.turn}"><br><strong>{{gameStatus.turn? gameStatus.players[0].name : gameStatus.players[1].name}}'s turn!</strong><br></div>
    <ion-footer>
        <ion-toolbar>
            <ion-title>Footer</ion-title>
        </ion-toolbar>
    </ion-footer>
</ion-content>